/* Background dim */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Popup */
.login-modal {
   position: relative;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 360px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
  animation: fadeIn 0.3s ease;
}

/* close button */
.close-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  cursor: pointer;
  font-size: 16px;
  color: #555;
}

.close-btn:hover {
  color: #000;
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}