<div class="container mt-4">
  <div class="back-link mb-3" (click)="goBack()">
    <i class="bi bi-arrow-left"></i>
    Back to Products
  </div>
  <h4 class="mb-4 fw-bold">Shopping Cart</h4>

  <div class="row">
    <!-- LEFT SIDE -->
    <div class="col-lg-8">
      <div class="cart-item mb-3" *ngFor="let item of cartItems">
        <div class="d-flex align-items-center">
          <!-- Image -->
          <img [src]="item.image" class="cart-img" />

          <!-- Details -->
          <div class="ms-3 flex-grow-1">
            <h6 class="mb-1 fw-semibold">
              {{ item.title }}
            </h6>

            <small class="text-muted d-block mb-1">
              {{ item.category }}
            </small>

            <div class="text-warning small mb-1">★★★★☆</div>

            <span class="fw-bold text-dark"> ₹{{ item.price }} </span>
          </div>

          <!-- Qty -->
          <div class="qty-box m-3">
            <button (click)="decreaseQty(item)" [disabled]="item.cartQty == 1">-</button>

            <span>{{ item.cartQty }}</span>

            <button (click)="increaseQty(item)" [disabled]="item.cartQty === item.quantity">+</button>
          </div>

          <!-- Remove -->
          <button class="delete-btn" (click)="removeItem(item)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- RIGHT SIDE SUMMARY -->
    <div class="col-lg-4">
      <div class="summary-box">
        <h6 class="fw-bold mb-3">Order Summary</h6>

        <div class="d-flex justify-content-between mb-2">
          <span>Subtotal</span>
          <span>₹{{ totalPrice }}</span>
        </div>

        <div class="d-flex justify-content-between mb-2">
          <span>Shipping</span>
          <span class="text-success">Free</span>
        </div>

        <hr />

        <div class="d-flex justify-content-between fw-bold mb-3">
          <span>Total</span>
          <span>₹{{ totalPrice }}</span>
        </div>

        <button class="btn btn-dark w-100 py-2">Proceed to Checkout</button>
      </div>
    </div>
  </div>
</div>
