:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.search-box {
  margin-top: -150px;
  min-height: 320px;
}

.btn-primary {
    margin-top: 30px;
}

.d-flex{
    background-color: darkgray;
}